<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xác nhận đặt lịch khám bệnh</title>
  </head>
  <body>
    <h3>Xin chào <%= patientName %>!</h3>
    <p>Bạn nhận được email này vì hoàn tất quá trình khám bệnh.</p>
    <p>Thông tin hóa đơn/thuốc được gửi trong file đính kèm:</p>
    <p>
      Xin chân thành cảm ơn bạn vì đã tin tưởng và sử dụng dịch vụ của Booking
      Care.
    </p>
  </body>
</html>
